.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%; margin:23px 0 0 0;
}

.nbs-flexisel-item {
    float:left;
    margin:0 1px 0 30px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
   /* width: 100%;*/
    cursor: pointer;
    positon: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:263px;
    max-height:175px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 22px;
    height: 22px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;}

.nbs-flexisel-nav-left {  right: 25px; top:-30px !important;
    background: url(../images/button-previous.png) no-repeat;}

.nbs-flexisel-nav-right {right:5px; top:-30px !important;
    background:url(../images/button-next.png) no-repeat;}
	
#flexiselDemo1 li {width:263px !important;}
#flexiselDemo2 li {width:263px !important; } 
	
#flexiselDemo1 li a { display:block; text-decoration:none; width:263px;}
#flexiselDemo2 li a { display: table-cell; background:#f5f5f5; height: 231px; text-decoration: none; vertical-align: middle; width: 263px !important;}
#flexiselDemo2 li a img{}



#dtaa_cone1 { margin-top:-20px; background:url(../images/bgpro.png) repeat; position:absolute; width:250px; padding:6px; left:0; bottom:16px;}
#dtaa_cone1 h1 { color:#FFF; font-size:18px; text-align:center; text-transform:uppercase; font-weight:normal;}
















